.taglib-icon-list {
	margin-left: 0;

	li {
		float: left;
		list-style: none;
		margin-right: 1em;
	}
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.ie .taglib-icon-list {
	height: 1%;
}